###############################################################################
# Template configuration file for script gnss_run_gipsyx
# please copy to /etc/webobs.rc/, rename and edit to your needs.
#
# Created: 2019-02-25

# prepares GIPSY processing
. /home/wo/GipsyX-1.0/rc_GipsyX.sh

# grid that contains the station list (nodes)
GRID=PROC.GIPSYX

# base directory that contains the raw data
FROM=/home/wo/rawdata/GNSS

# base directory for output results
DEST=/home/wo/GNSS/gipsyx

# gd2e.py options
GIPSYOPTIONS="-runType PPP"

# teqc options
TEQCOPTIONS="+quiet -O.ag 'IPGP' -O.op 'WO' -C2 -O.-obs C2 -O.-obs C5 -O.dec 10s -max_rx_SVs 30"
