###############################################################################
# Template configuration file for script gnss_run_gipsyx
# please copy to /etc/webobs.rc/, rename and edit to your needs.
#
# Created: 2019-02-25

# prepares GIPSY processing
source /home/wo/GipsyX-1.1/rc_GipsyX.sh

# grid of a local WebObs that contains the station list (nodes)
#GRID=PROC.GIPSYX
# ... or default list of station codes (space separated)
NODES=

# base directory that contains the raw data
FROM=/home/wo/rawdata/GNSS

# directory structure of the raw data (will be evaluated using eval...)
# valid variables are: $FID, $sta (lowercase FID), $yyyy, $yy, $mm, $dd, $doy
FMT='$FROM/$FID/$yyyy/$mm/$dd'

# base directory for output results
DEST=/home/wo/GNSS/gipsyx

# gd2e.py options
GIPSYOPTIONS="-runType PPP"

# teqc options
TEQCOPTIONS="+quiet -O.ag 'IPGP' -O.op 'WO' -C2 -O.-obs C2 -O.-obs C5 -O.dec 10s -max_rx_SVs 30"
