[Unit]
Description=WebObs Postboard
After=local-fs.target remote-fs.target

[Service]
Type=forking
ExecStart=##DOCROOT##/CODE/shells/postboard start
PIDFile=##DOCROOT##/LOGS/postboard.pid
User=##USER##
Group=##GROUP##
UMask=0002
Restart=on-failure

[Install]
WantedBy=multi-user.target
