[Unit]
Description=WebObs Postboard
After=local-fs.target remote-fs.target

[Service]
Type=forking
ExecStart=/opt/webobs/CODE/shells/postboard start
PIDFile=/opt/webobs/LOGS/postboard.pid
User=webobs
Group=webobs
UMask=0002
Restart=on-failure

[Install]
WantedBy=multi-user.target
