[Unit]
Description=WebObs Scheduler
After=local-fs.target remote-fs.target
After=wopostboard.service
Wants=wopostboard.service

[Service]
Type=forking
ExecStart=##DOCROOT##/CODE/shells/scheduler start
PIDFile=##DOCROOT##/LOGS/scheduler.pid
User=##USER##
Group=##GROUP##
UMask=0002
Restart=on-failure

[Install]
WantedBy=multi-user.target
