[Unit]
Description=WebObs Scheduler
After=local-fs.target remote-fs.target
After=wopostboard.service

[Service]
Type=forking
ExecStart=/opt/webobs/CODE/shells/scheduler start
PIDFile=/opt/webobs/LOGS/scheduler.pid
User=webobs
Group=webobs
UMask=0002
Restart=on-failure

[Install]
WantedBy=multi-user.target

