Releases
CODE/bin
CODE/matlab/*.mex*
CODE/i18n/locales/*/LC_MESSAGES/*.mo
DOC/user-manual/*
!DOC/user-manual/*.tex
!DOC/user-manual/*.bib
!DOC/user-manual/figures
PACK/*
!PACK/build
!PACK/build-mac
!PACK/fpm*
!PACK/showi18id
!PACK/CHECKLIST.txt
.DS_Store
**/.DS_Store
