Releases
CODE/matlab/bin
CODE/matlab/*.mex*
CODE/i18n/locales
DOC/user-manual/*
!DOC/user-manual/*.tex
!DOC/user-manual/*.bib
!DOC/user-manual/figures
PACK/*
!PACK/build
!PACK/build-mac
!PACK/fpm*
.DS_Store
**/.DS_Store
