=key|value

DB_NAME|$WEBOBS{PATH_DATA_DB}/Gazette.db
CATEGORIES_FILE|$WEBOBS{ROOT_CONF}/Gazette_categories.conf

BANG|2001
TITLE|Gazette 
FUTURE_YEARS|2
ACTIVE_GID|+DUTY
EMPTY_SELECTION_MSG|No match found
CALENDAR_WEEKNUMBER|VERTICAL
SHOW_BYDATE_ONGOING|TEXT
CALENDAR_TRUNCLENGTH|25
  
DEFAULT_VIEW|calendar
DEFAULT_DATE|thisweek
DEFAULT_CATEGORY|

