=key|value

NAME|Networks

# displays inactive nodes
INACTIVE_NODE|Y

# --- basemap options
# paper size (maximum width/height)
PAPERSIZE_INCHES|10
# density (in pixels per inch) for PostScript to PNG convertion
DPI|100
# thumbnails height (pixels)
THUMBNAIL_HEIGHT|112


# basemap DEM rendering options (see CODE/matlab/dem.m documentation)
LINEWIDTH|1.5
LANDCOLORMAP|landcolor
SEACOLORMAP|[0.7,0.9,1]
SHADING|light
COLOR_LIGHTENING|1.5
COLOR_SATURATION|0.7
LIGHT_AZIMUTH|-45,45
LIGHT_CONTRAST|1
ZCUT|0.1

# oversampling in case of too small image
OVERSAMPLING|500

# minimum size of map around NODES
MIN_SIZE_KM|2

# maximum X/Y ratio in case of automatic sizing around NODES
MAX_XYRATIO|1.5
# add border as fraction of map width
BORDER_ADD|.1
# downloads SRTM1 (needs login configuration in WEBOBS.rc)
DEM_SRTM1|N
# merges bathymetry from ETOPO (better to set ETOPO1 first, see documentation)
ETOPO_SRTM_MERGE|N

# --- contour lines
CONTOURLINES|Y
CONTOURLINES_RGB|.5,.5,.5
CONTOURLINES_ZERO_LEVEL|N
CONTOURLINES_MINOR_LINEWIDTH|.1
CONTOURLINES_MAJOR_LINEWIDTH|1
CONTOURLINES_LABEL|Y

# adds transmission lines between NODES (if defined)
PLOT_TRANSMISSION|Y

# merged map (request)
MERGE_NODENAME|N
MERGE_LEGEND_HEIGHT|0.15
MERGE_LEGEND_ROWCOL|6,2
MERGE_LEGEND_FONTSIZE|12

# list of GRID keys available for edit in request
REQUEST_GRID_KEYLIST|NAME,NODE_SIZE,NODE_RGB,NODE_FONTSIZE,NODE_MARKER
SUBMIT_COMMAND|$WEBOBS{JOB_MCC} gridmaps -
SUBMIT_RESOURCE|gridmaps

# request marker size list
REQ_MARKERSIZE_LIST|1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
# request font size list
REQ_FONTSIZE_LIST|4,5,6,7,8,9,10,11,12,13,14,15,16,18,20,22,24,26,28,32,36,40,44,48,56,64,72,80,88,96
