=key|value

NAME|Networks
# --- basemap options
# paper size (maximum width/height)
PAPERSIZE_INCHES|10
# density (in pixels per inch) for PostScript to PNG convertion
DPI|100
# basemap DEM rendering options (see CODE/matlab/dem.m documentation)
LINEWIDTH|1.5
LANDCOLORMAP|landcolor
#SEACOLORMAP|seacolor
SEACOLORMAP|[0.7,0.9,1]
COLOR_LIGHTENING|1.5
COLOR_SATURATION|0.7
LIGHT_AZIMUTH|-45
LIGHT_CONTRAST|1
ZCUT|0.1

# oversampling in case of too small image
OVERSAMPLING|500

# minimum size of map around NODES
MIN_SIZE_KM|2

# maximum X/Y ratio in case of automatic sizing around NODES
MAX_XYRATIO|2
BORDER_ADD|.1
DEM_SRTM1|N

# --- contour lines
CONTOURLINES|Y
CONTOURLINES_RGB|.5,.5,.5
CONTOURLINES_ZERO_LEVEL|N
CONTOURLINES_MINOR_LINEWIDTH|.1
CONTOURLINES_MAJOR_LINEWIDTH|1
CONTOURLINES_LABEL|Y

# adds transmission lines between NODES (if defined)
PLOT_TRANSMISSION|Y

# list of GRID keys available for edit in request
REQUEST_GRID_KEYLIST|NODE_SIZE,NODE_RGB,NODE_FONTSIZE,NODE_MARKER
SUBMIT_COMMAND|$WEBOBS{JOB_MCC} gridmaps -
SUBMIT_RESOURCE|gridmaps
