# ---- WEBOBS / IPGP -----------------------------------------------------------
# main site navigation menu - defines site dropdown menus links
# and hierarchy. 
# 
# each line defines one (1) menu item: 
#
#      [+|!|*]menu-text|menu-link
#      
#      + :         top level menu (always shown); also indicates that 
#                  following line(s) define(s) the  dropdown item(s) 
#                  associated to this level, until next '+' line
#      ! :         same as + but item made available only for administrator(s)
#      * :         same as omitting this first character, but item made available only for administrator(s) 
#      menu-text : item's name as displayed
#      menu-link : item's href uri 
#
# comment-lines (#) like this one are allowed; blank lines too  
#
# See index.pl, menu.js and menu.css for further documentation.
#
# Authors:	Francois Beauducel, Didier Lafon
# Updated:	2014-02-15
# ------------------------------------------------------------------------------

+News|/cgi-bin/wikiPage.pl?file=NEWS.wiki
Hebdo|/cgi-bin/showHEBDO.pl
# -----
#+Grids|/cgi-bin/showGRIDS.pl
#Views|/cgi-bin/showVIEWS.pl
#Procs|/cgi-bin/showPROCS.pl
+Grids|/cgi-bin/listGRIDS.pl
Views|/cgi-bin/listGRIDS.pl?type=view
Procs|/cgi-bin/listGRIDS.pl?type=proc
All Nodes|/cgi-bin/showNODES.pl
# -----
+Seismology|/cgi-bin/showVIEWS.pl
SefraN3|/cgi-bin/sefran3.pl?header=1
MC3|/cgi-bin/mc3.pl
CSEM|http://www.emsc-csem.org/Earthquake/
USGS-NEIC|http://earthquake.usgs.gov/earthquakes/map/
SRC|http://www.uwiseismic.com
FUNVISIS|http://www.funvisis.gob.ve/sis_reciente.php
PUERTO-RICO|http://redsismica.uprm.edu/English/
Caribbean TWS|http://ptwc.weather.gov/?region=3
# -----
+Meteorology|/cgi-binshowVIEWS.pl
GOES W-Atl. IR|http://www.ssd.noaa.gov/goes/east/carb/flash-avn.html
National Hurricane Center (NOAA)|http://www.nhc.noaa.gov/
# -----
+WebObs|/cgi-bin/wikiPage.pl?file=ABOUT.wiki
*WOC|/html/cgiwoc.html
*Scheduler Manager|/cgi-bin/schedulerMgr.pl
*Scheduler Runs|/cgi-bin/schedulerRuns.pl
*Users Admin|/cgi-bin/usersMgr.pl
*Menu edit|/cgi-bin/cedit.pl?fs=FILE_MENU(NAVIGATION)
*ConfDoc|../DOC/conf.html
*ModsDoc|../DOC/mods.html
Requests for Graphs|/cgi-bin/formREQ.pl
Events *Hebdo|/cgi-bin/formHEBDO.pl
Events *Nodes |/cgi-bin/formEVENTNODE.pl
Wikis pages|/cgi-bin/wdir.pl?dir=WIKI
*Html contents|/cgi-bin/wdir.pl?dir=HTML
