=key|value

PATH_NODES|$WEBOBS{ROOT_DATA}/NODES

SPATH_INTERVENTIONS|EVENTS
SPATH_PHOTOS|PHOTOS
SPATH_DOCUMENTS|DOCUMENTS
SPATH_SCHEMES|SCHEMES
SPATH_FEATURES|FEATURES
SPATH_THUMBNAILS|THUMBNAILS

PATH_EVENTNODE_TRASH|$WEBOBS{ROOT_DATA}/trash/EVENTNODE
PATH_NODE_TRASH|$WEBOBS{ROOT_DATA}/trash/NODES
EVENTNODE_NOTEBOOK|NO
EVENTNODE_NOTIFY_DEFAULT|NO
EVENTNODE_PLOT_COLOR|Silver
EVENTNODE_PLOT_LINEWIDTH|1
EVENTNODE_PLOT_OUTCOME_ONLY|YES

# list of categories (grid,alias,feature,author,remote,startdate,enddate,title,comment,notebook,outcome)
EVENT_SEARCH_CATEGORY_LIST|grid,alias,feature,author,remote,startdate,title,comment,notebook,outcome
EVENT_SEARCH_MAXDISPLAY_LIST|15,50,75,100
EVENT_SEARCH_DEFAULT|alias
EVENT_SEARCH_DEFAULT2|comment

CGI_SHOW|showNODE.pl
CGI_SRCH|srchNODES.pl
CGI_FORM|formNODE.pl

THUMBNAILS_ON|ALL
THUMBNAILS_PIXH|100
THUMBNAILS_PIXV|100
THUMBNAILS_EXT|jpg

# display neighbour nodes (maximum number)
NEIGHBOUR_NODES_MAX|15
NEIGHBOUR_NODES_ACTIVE_ONLY|Y

FILE_NETWORKS|$WEBOBS{ROOT_CONF}/networkcodes.csv
FILE_NODES2NODES|$WEBOBS{ROOT_CONF}/nodes2nodes.rc
FILE_TELE|$WEBOBS{ROOT_CONF}/TRANStypes.conf
FILE_POS|$WEBOBS{ROOT_CONF}/POSITIONtypes.conf
FILE_FILTER_NOTES|$WEBOBS{PATH_DATA_WEB}/Notes_Filtre_Stations.txt

# node's status (threshold in %)
SQL_DB_STATUS|$WEBOBS{PATH_DATA_DB}/NODESSTATUS.db
STATUS_THRESHOLD_WARNING|90
STATUS_THRESHOLD_CRITICAL|10
STATUS_STANDBY_VALUE|-1
