=key|value

CMD_OPTS|-v
ERROR_FILE|$WEBOBS{ROOT_LOGS}/scheduler_error.log
BEAT|2
MAX_CHILDREN|10

# Hostname or local IP address where the scheduler should be listening
# for commands.
# Warning: access to this UDP port should be limited in some way, as no
# authentication is performed on command requests. For this reason,
# it defaults to 'localhost', only accessible from the host.
LISTEN_ADDR|localhost
# UDP port where the scheduler should be listening for commands on the
# LISTEN_ADDR host/address.
PORT|7761
# Maximum length in bytes of the request message to the scheduler
# accepted through its pipe.
SOCKET_MAXLEN|1500;

SQL_DB_JOBS|$WEBOBS{ROOT_CONF}/WEBOBSJOBS.db
DAYS_IN_RUN|30
DITTO_LOG_MAX|500
DITTO_NTF_MAX|1000

# timeout for jobs in the queue
CANCEL_SUBMIT|3600
CLEANUP_RUNS|999,cleaned up

LOADAVG1_THRESHOLD|0.7
LOADAVG5_THRESHOLD|0.7
LOADAVG15_THRESHOLD|0.7

PATH_STD|$WEBOBS{ROOT_LOGS}/jobslogs
PATH_RES|$WEBOBS{ROOT_LOGS}/res
