=key|value 

# default is UTM_ZONE = 0 for automatic; use zone 1 to 60 to fix it for all networks
UTM_ZONE|0
UTM_SCALE_FACTOR|0.9996
UTM_LOCAL_MERIDIAN_ORIGIN|-63
UTM_LOCAL_SCALE_FACTOR|0.9996
UTM_LOCAL_FALSE_EASTING|500000
#
ELLIPSOID_WGS84_SEMIMAJOR_AXIS|6378137
ELLIPSOID_WGS84_INVERSE_FLATTENING|298.257223563
ELLIPSOID_LOCAL_NAME|HAYFORD 1909
ELLIPSOID_LOCAL_SEMIMAJOR_AXIS|6378388
ELLIPSOID_LOCAL_INVERSE_FLATTENING|297
# geodetic transformation using 3-D similarity with 7 parameters (approximation)
GEODETIC_DATUM_LOCAL_NAME|Sainte-Anne
GEODETIC_LOCAL2WGS84_TRANSLATION_X|-472.29
GEODETIC_LOCAL2WGS84_TRANSLATION_Y|-5.63
GEODETIC_LOCAL2WGS84_TRANSLATION_Z|-304.12
GEODETIC_LOCAL2WGS84_SCALE_FACTOR|1.8984e-6
GEODETIC_LOCAL2WGS84_ROTATION_X|0.4362
GEODETIC_LOCAL2WGS84_ROTATION_Y|-0.8374
GEODETIC_LOCAL2WGS84_ROTATION_Z|0.2563
# geoid elevation grid
GEOID_GRID_FILE|
