=key|value

VERSION|nd
WEBOBS_ID|${WebObsIdentification}
BIG_BANG|2001
WEBOBS_TITLE|WEBOBS ${WEBOBS_ID}
COPYRIGHT|${WEBOBS_TITLE} / IPGP

# ---- site and non-site roots ----------------
# ---------------------------------------------
ROOT_SITE|${InstallDocumentRoot}
ROOT_VHST|${InstallVirtualHost}
ROOT_URL|${InstallUrl}
ROOT_RAWD|${InstallRawdata}

ROOT_CONF|${ROOT_SITE}/CONF
ROOT_DATA|${ROOT_SITE}/DATA
ROOT_CODE|${ROOT_SITE}/CODE
ROOT_OUTG|${ROOT_SITE}/OUTG
ROOT_OUTR|${ROOT_SITE}/OUTR
ROOT_WWW|${ROOT_SITE}/WWW
ROOT_LOGS|${ROOT_SITE}/LOGS

# might indicate here a path for additional data preprocessor
ROOT_PREPROCESSOR|

# ---- Grid System paths-----------------------
# ---------------------------------------------
PATH_VIEWS|${ROOT_CONF}/VIEWS
PATH_PROCS|${ROOT_CONF}/PROCS
PATH_FORMS|${ROOT_CONF}/FORMS
PATH_SEFRANS|${ROOT_CONF}/SEFRANS
CONF_NODES|${ROOT_CONF}/NODES.rc
CONF_GRIDS|${ROOT_CONF}/GRIDS.rc
# also found in NODES.rc !
PATH_NODES|${ROOT_DATA}/NODES
PATH_GRIDS2NODES|${ROOT_CONF}/GRIDS2NODES
PATH_GRIDS2FORMS|${ROOT_CONF}/GRIDS2FORMS

FILE_OWNERS|${ROOT_CONF}/OWNERS.conf

# Directory for temporary files used by some CGI scripts
# (it must exist and the web server user must be able to write)
PATH_TMP_APACHE|/tmp

# Directory for temporary files used by PROCS and SEFRAN
# (it must be writable by the user used by the scheduler)
PATH_TMP_WEBOBS|/tmp/webobs

# Authentication file for the web server
HTTP_PASSWORD_FILE|${ROOT_CONF}/htpasswd
# Minium length for user password
HTPASSWORD_MIN_LENGTH|8
# Whether to allow users to change their own password
ALLOW_HTPASSWORD_CHANGE|Y
# Path to the htpasswd command
PRGM_HTPASSWD|/usr/bin/htpasswd
# Encryption format to use when creating/updating passwords:
# "md5" for option -m or "bcrypt" for option -B to htpasswd.
# "md5" is more portable while "bcrypt" is even more secure.
HTPASSWD_ENCRYPTION|md5
# set this file for autologin functions
NETRC_FILE|/home/wo/.netrc


# ---- Site DATA paths ------------------------
# ---------------------------------------------
PATH_DATA_DB|${ROOT_DATA}/DB
PATH_DATA_WEB|${ROOT_DATA}/WEB
PATH_DATA_MATLAB|${ROOT_DATA}/MATLAB
PATH_DATA_DEM|${ROOT_DATA}/DEM
PATH_DATA_SHAPE|${ROOT_DATA}/SHAPE

PATH_USERS_WIKI|${PATH_DATA_WEB}/WIKI
PATH_USERS_HTML|${PATH_DATA_WEB}/HTML
PATH_GRIDS_DOCS|${PATH_DATA_WEB}/GRIDS

# ---- Site WWW paths ------------------------
# ---------------------------------------------
PATH_WWW_HTML|${ROOT_WWW}/html
PATH_WWW_HTML_MAPS|${PATH_WWW_HTML}/sites/maps

# ---- Site customization ---------------------
# ---------------------------------------------
LOCALE|en_US
FILE_DAYSOFF|${ROOT_CONF}/Holidays.conf
LANGUAGE_LIST|en_US:English\|fr_FR:Fran&ccedil;ais
LIEU_VILLE|Paris
LIEU_DEPARTEMENT|Paris
TERMSOFUSE|${ROOT_DATA}/WEB/terms.txt

# Grids and nodes events options
EVENTS_TO_GAZETTE|ALL
EVENTS_GAZETTE_DELETE|YES
EVENTS_ACTIVE_GID|+ADMIN,+DUTY
EVENTS_NOTIFY_FULL_MESSAGE|YES

# Uncomment this line to disable MultiMarkDown facilities for all 'wiki' contents
#WIKI_MMD|NO

# Set to YES to add logs (in PROC's outputs)
DEBUG|NO

# ---- site OUTG, grids subtrees      ---------
# ---------------------------------------------
PATH_OUTG_DATA|data
PATH_OUTG_MAPS|maps
PATH_OUTG_GRAPHS|graphs
PATH_OUTG_EXPORT|exports
PATH_OUTG_EVENTS|events
OUTG_STALENODES_DISPO|

# ---- Jobs scheduler -------------------------
# ---------------------------------------------
CONF_SCHEDULER|${ROOT_CONF}/scheduler.rc

# ---- Apache's aliases -----------------------
# ---------------------------------------------
URN_CGI|/cgi-bin
URN_CSS|/css
URN_HTML|/html
URN_NODES|/nodes
URN_DATA|/data
URN_ICONS|/icons
URN_JS|/js
URN_SEFRAN|/sefran
URN_RAWD|/rawdata
URN_OUTG|/OUTG
URN_OUTR|/OUTR

# ---- HTML/PAGE ------------------------------
# ---------------------------------------------
FILE_HTML_CSS|css/WEBOBS.css
FILE_MENU|${ROOT_CONF}/menu.rc

# ---- USERS DataBase--------------------------
# ---------------------------------------------
SQL_DB_USERS|${ROOT_CONF}/WEBOBSUSERS.db
SQL_TABLE_USERS|users
SQL_TABLE_AUTHPROCS|authprocs
SQL_TABLE_AUTHVIEWS|authviews
SQL_TABLE_AUTHFORMS|authforms
SQL_TABLE_AUTHWIKIS|authwikis
SQL_TABLE_AUTHMISC|authmisc
SQL_TABLE_GROUPS|groups
SQL_DB_USERS_AUTOREGISTER|Y
REGISTRATION_LOGFILE|${PATH_DATA_DB}/reglog
REGISTRATION_TITLE|Access to WEBOBS ${WEBOBS_ID}

# ---- Notifications/postboard -----------------
# ---------------------------------------------
SQL_DB_POSTBOARD|${SQL_DB_USERS}
SQL_TABLE_NOTIFICATIONS|notifications
POSTBOARD_NPIPE|/tmp/WEBOBSNP
POSTBOARD_CMD_OPTS|-v
POSTBOARD_ERROR_FILE|${ROOT_LOGS}/postboard_error.log
POSTBOARD_MAILER|mutt
POSTBOARD_MAILER_OPTS|-nx -e 'set charset="iso-8859-1"'
POSTBOARD_MAILER_DEFSUBJECT|WebObs notification

# ---- DOMAINS DataBase -----------------------
# ---------------------------------------------
SQL_DOMAINS|${ROOT_CONF}/WEBOBSDOMAINS.db
SQL_TABLE_DOMAINS|domains
SQL_TABLE_GRIDS|grids2domains

# ---- FORMS DataBase -----------------------
# ---------------------------------------------
SQL_FORMS|${PATH_DATA_DB}/WEBOBSFORMS.db
SQL_TABLE_FGRIDS|grids2forms    # not used yet (working in progress !)

# ---- METADATA DataBase -----------------------
# ---------------------------------------------
SQL_METADATA|${ROOT_CONF}/WEBOBSMETA.db
SQL_TABLE_PRODUCER|producer
SQL_TABLE_CONTACTS|contacts
SQL_TABLE_ORGANISATIONS|organisations
SQL_TABLE_DATASETS|datasets
SQL_TABLE_OBSERVATIONS|observations
SQL_TABLE_OBSERVED_PROPERTIES|observed_properties
SQL_TABLE_SAMPLING_FEATURES|sampling_features
SQL_TABLE_PGRIDS|grids2producers

# ---- Creator roles -------------------------
# ---------------------------------------------
CREATOR|${ROOT_CONF}/EnumContactPersonRoles.conf

# ---- INSPIRE themes -------------------------
# ---------------------------------------------
THEME|${ROOT_CONF}/EnumInspireTheme.conf

# ---- Topic categories -------------------------
# ---------------------------------------------
TOPIC|${ROOT_CONF}/EnumTopicCategories.conf

# ---- THEIA user flag ------------------------
# ---------------------------------------------
THEIA_USER_FLAG|0

# ---- THEIA portal configuration file --------
# ---------------------------------------------
CONF_THEIA|${ROOT_CONF}/theia.rc
ROOT_OUTE|${ROOT_SITE}/OUTE
PASSWORD_THEIA|XXXXXXXX

# ---- Internalization ------------------------
# ---------------------------------------------
ROOT_I18N|${ROOT_SITE}/CODE/i18n

# ---- Additional configurations --------------
# ---------------------------------------------
HEBDO_CONF|${ROOT_CONF}/HEBDO.conf
GAZETTE_CONF|${ROOT_CONF}/Gazette.rc
WELCOME_CONF|${ROOT_CONF}/Welcome.conf
LOCASTAT|${ROOT_CONF}/LOCASTAT.rc
GRIDMAPS|${ROOT_CONF}/GRIDMAPS.rc

# ---- CGIs -----------------------------------
# ---------------------------------------------
CGI_UPLOAD|formUPLOAD.pl
CGI_UPLOAD_POST|postUPLOAD.pl
CGI_CONFIRM_SUCCESSFUL|NO

# ---- External resources ---------------------
# ---------------------------------------------
PLOTERUP_FILE|${ROOT_CONF}/ERUPTIONS_SHM.conf

PATH_MCR|/usr/local/MATLAB/MATLAB_Compiler_Runtime/v716
PATH_MCC|${ROOT_CODE}/bin/linux-64

# ---- Graphs requests    ---------------------
# ---------------------------------------------
REQ_PPI_LIST|75,100,150,300,600
REQ_MARKERSIZE_LIST|1,2,4,6,10,15,20
REQ_LINEWIDTH_LIST|0.1,0.25,0.5,1,1.5,2,3

# CGPS/GAMIT process -------------------------
# ---------------------------------------------
ITRF_YEAR|2005
GAMIT_FINAL_DELAY_DAYS|24

# Sefran3 / Main Courante 3 ------------------
# ---------------------------------------------
SEFRAN_ROOT|${InstallSefranRoot}
SEFRAN_ROOT_ALIAS|/sefran

SEFRAN3_DEFAULT_NAME|SEFRAN3
SEFRAN3_MCC|run_sefran3.sh
MC3_DEFAULT_NAME|MC3

CGI_SEFRAN3|sefran3.pl
CGI_MC3|mc3.pl

PATH_SOURCE_SISMO_GUA|iaspei1
PATH_SOURCE_SISMO_GUX|iaspei2
PATH_SOURCE_SISMO_MIX|SUDS2
PATH_SOURCE_SISMO_GWA|SUDS2
SISMOCP_PATH_FTP|${ROOT_RAWD}/Sismologie/CourtePeriode
SISMOCP_PATH_FTP_URN|${URN_RAWD}/Sismologie/CourtePeriode
SISMOCP_MAX_TRAITES|720
SISMORESS_PATH_FTP|${ROOT_RAWD}/Sismologie/B3/ressentis
RACINE_SIGNAUX_SISMO|/ipgp/continu/sismo
WEB_RACINE_SIGNAUX|

# --- executables ----------------------------
# ---------------------------------------------
PRGM_CONVERT|convert
CONVERT_COLORSPACE|-colorspace sRGB
PRGM_IDENTIFY|identify
PRGM_PNGQUANT|pngquant

# Earth tide prediction program GOTIC2, downloadable at http://www.miz.nao.ac.jp/staffs/nao99/index_En.html
PRGM_GOTIC2|/opt/nao99b/gotic2/gotic2

PRGM_PS2PDF|/usr/bin/ps2pdf
PRGM_ALARM|perl -e "alarm shift @ARGV; exec @ARGV"

WINSTON_JAVA|${ROOT_CODE}/bin/java/winston-bin.jar

XML2_PRGM|${ROOT_CODE}/bin/linux-64/xml2
#XML2_PRGM|/usr/bin/xml2
SLINKTOOL_PRGM|${ROOT_CODE}/bin/linux-64/slinktool
ARCLINKFETCH_PRGM|env LD_LIBRARY_PATH='' ${ROOT_CODE}/bin/arclinkfetch/bin/arclink_fetch_wrapper --max 180
#ARCLINKFETCH_PRGM|env LD_LIBRARY_PATH='' ${ROOT_CODE}/bin/arclinkfetch/bin/arclink_fetch
MSEED2SAC_PRGM|${ROOT_CODE}/bin/linux-64/mseed2sac
MSEEDREQ_TMP_DIR|/tmp
MSEEDREQ_TEMPLATE|mseedreq_XXXXX
MSEEDREQ_CGI|mseedreq.pl
MSEED_FILE_EXT|msd

# --- launchers for scheduler ----------------
# ---------------------------------------------
JOB_MCC|${PATH_MCC}/run_mcc
JOB_MLNODISPLAY|env MATLABPATH=${ROOT_CODE}/matlab LANG=${LOCALE}.ISO-8859-1 matlab -nodisplay
JOB_MLXVFB|env MATLABPATH=${ROOT_CODE}/matlab LANG=${LOCALE}.ISO-8859-1 xvfb-run -a --server-args="-screen 0 1024x768x16" matlab -nodesktop -nosplash
JOB_MCNODISPLAY|cd ${ROOT_CODE}/matlab;env LANG=${LOCALE}.ISO-8859-1 ${PATH_MCC}
JOB_MCXVFB|cd ${ROOT_CODE}/matlab;env LANG=${LOCALE}.ISO-8859-1 xvfb-run -a --server-args="-screen 0 1024x768x16" ${PATH_MCC}

# Options for the Codemirror javascript editor
#  To browse available Codemirror themes, see:
#  https://codemirror.net/demo/theme.html
JS_EDITOR_EDIT_THEME|elegant    # codemirror theme when editing
JS_EDITOR_BROWSING_THEME|neat   # codemirror theme when browsing
JS_EDITOR_AUTO_VIM_MODE|no      # automatically enter vim mode or not (any other value):
                                #  True if value is 'true' or 'yes' (case insensitive),
                                #  False for any other value.

# Nagios -------------------------------------
NAGIOS_SEND_NSCA|send_nsca -H 127.0.0.1 -c /etc/send_nsca.cfg
NAGIOS_OK|0
NAGIOS_WARNING|1
NAGIOS_CRITICAL|2
NAGIOS_UNKNOWN|3

# Google Earth --------------------------------
GOOGLE_EARTH_LINK|1
GOOGLE_EARTH_LINK_INFO|KML file for Google Earth (ATTENTION: error ~20 m)
IMAGE_LOGO_GOOGLE_EARTH|/icons/google/google_earth.gif

# OpenStreetMap ---------------------------------
CGI_OSM|OSM.pl
OSM_LINK|1
OSM_INFO|See with OpenStreetMap
OSM_NODE_ICON|/icons/gdot.png
OSM_WIDTH_VALUE|800
OSM_HEIGHT_VALUE|600
OSM_ZOOM_VALUE|17

# QR code module size (in pixels) / empty or zero to not display in grid/node pages
QRCODE_BIN|qrencode
QRCODE_SIZE|2
QRCODE_LOGOS|/icons/ipgp/logo_WebObs_C413.png,/icons/ipgp/logo_IPGP_2022.png,/icons/ipgp/logo_CNRSfilaire-grand.jpg

# Digital Elevation Models --------------------
# ---------------------------------------------
DEM_OVERSAMPLING|500
DEM_MAX_WIDTH|1201
PATH_DATA_DEM_SRTM|${PATH_DATA_DEM}/SRTM
PATH_DATA_DEM_SRTM1|${PATH_DATA_DEM}/SRTM1
SRTM_COPYRIGHT|DEM: SRTM/NASA
SRTM_MAX_TILES|25
SRTM1_MAX_TILES|4
# Authentication needed to download new SRTM1 tiles (see https://urs.earthdata.nasa.gov)
# alternative is to empty this variable and put login information in .netrc
EARTHDATA_LOGIN|usr,pwd
# ETOPO Global Relief Data: ETOPO1 can be downloaded at http://www.ngdc.noaa.gov/mgg/global/global.html (.bin and .hdr)
PATH_DATA_DEM_ETOPO|${PATH_DATA_DEM}/ETOPO
ETOPO_NAME|etopo5
ETOPO_COPYRIGHT|DEM: ETOPO5 NGDC/NOOA
# merges SRTM with ETOPO bathymetry (needs ETOPO1)
ETOPO_SRTM_MERGE|NO

# IGN ----------------------------------------
IGN_MAPI_LINK|0
IGN_MAPI_LINK_URL|
IGN_MAPI_LINK_INFO|IGN Aerial photographies
IMAGE_LOGO_IGN_MAPI|/icons/logo_IGN16x16.png

# Geodetic transforms ------------------------
# ---------------------------------------------
UTM_LOCAL|${ROOT_CONF}/UTM.rc

# MKGRAPH ------------------------------------
# ---------------------------------------------
MKGRAPH_VALUE_PPI|100
MKGRAPH_THUMBNAIL_HEIGHT|112
LOGO_DEFAULT|$WEBOBS{ROOT_CODE}/icons/ipgp/logo_WOVS.png
LOGO_HEIGHT|0.04
# URN to LOGO_DEFAULT
URN_LOGO_DEFAULT|/icons/ipgp/logo_WOVS.png

# M3G (European GNSS metadata database)
# --------------------------------------------
M3G_URL|https://gnss-metadata.eu/sitelog
M3G_EDIT|${M3G_URL}/modify?station=   
M3G_EXPORTXML|${M3G_URL}/exportxml?station=
M3G_EXPORTLOG|${M3G_URL}/exportlog?station=

# Maximum upload size in MB ----------------
# ------------------------------------------
MAX_UPLOAD_SIZE|20
