=key|value

BEAT|2
MAX_CHILDREN|10

PORT|7761
SOCKET_MAXLEN|1500;

SQL_DB_JOBS|$WEBOBS{ROOT_CONF}/WEBOBSJOBS.db
DAYS_IN_LOG|30
DAYS_IN_RUN|30

LOADAVG1_THRESHOLD|0.7
LOADAVG5_THRESHOLD|0.7
LOADAVG15_THRESHOLD|0.7

PATH_STD|$WEBOBS{ROOT_LOGS}/jobslogs
PATH_RES|$WEBOBS{ROOT_LOGS}/res
