#domains-field {
    width: 950px;
}

.pproducers-container {
    margin: 10px auto 10px auto;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
    height: 400px;
    background-color: transparent;
}
.ddomains-container {
    margin: 10px auto 10px auto;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
    height: 400px;
    background-color: transparent;
}
.pproducers {
    width: 100%;
    text-align: center;
}
.ddomains {
    width: 100%;
    text-align: center;
}
table.pproducers {
    border: 1px solid #ffffff;
    color: #000000;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
table.ddomains {
    border: 1px solid #ffffff;
    color: #000000;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
table.ddomains td.tdlock {
    background: #dddddd;
}

h3.domains {
    margin-bottom: 0px;
}
.smanlegend {
    font-weight: bolder;
}
.fieldspacer {
    margin-top: 10px;
    margin-bottom: 10px;
}

#ovly {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    opacity: 0.4;
    background-color: #000000;
    z-index: 10000;
}

.overlay_form {
    position: absolute;
    border: 3px solid gray;
    border-radius: 5px;
    padding: 10px;
    background: #ffffee;
    width: 440px;
    height: auto;
    opacity: 1;
    z-index: 10001;
}
.overlay_form label {
    display: block;
    font-weight: bold;
    text-align: right;
    width: 120px;
    float: left;
    clear: left;
}
.overlay_form .small {
    color: #666666;
    display: block;
    font-size: x-small;
    font-weight: lighter;
    text-align: right;
    width: 120px;
}
.overlay_form input[type="text"],
.overlay_form select {
    float: left;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 300px;
    margin: 2px 0 15px 10px;
}
.overlay_form p {
    background: #eae4ce;
    width: 100%;
    height: 20px;
    padding: 5px 0 5px 2px;
    float: left;
}
