.schedstatus > table {
    margin: 5px;
}
td.status { 
	padding: 5px 10px 5px 10px;
}
div.status { 
	padding: 5px 10px 5px 10px;
	font-weight: bold;
}
.statusOK  { color: #318308 }
.statusWNG { color: #DE6D30 }
.statusBAD { color: #C8350C }

.timeline-container {
	/*box-sizing: border-box;*/
	width: 1000px;
	height: 10px;
	padding: 10px 10px 10px 10px;
	margin: 15px auto 20px auto;
	border: 0px solid #ddd;
	background: #fff;
}
.timeline-placeholder {
	width: 100%;
	height: 100%;
	font-size: 11px;
	font-family: monospace;
	line-height: 12px;
}

.jobsdefs-container {
	margin: 10px auto 10px auto;
	padding: 10px 10px 10px 10px;
	overflow: scroll;
	height: 600px;
}
.jobsdefs {
	width: auto;
	text-align: center;
}
.jobsactive {
	color: #000000;
}
.jobsinactive {
	color: #808080;
}

table.jobsdefs {
    border: 1px solid #FFFFFF;
    color: #000000;
    border-collapse: collapse;
	text-align: left;
	width: 100%;
}
table.jobsdefs td.tdlock { background: #ddd;}

table.jobsruns {
    border: 1px solid #FFFFFF;
    color: #000000;
    border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.smanlegend {
	font-weight: bolder;
}
.fieldspacer {
	margin-top: 10px;
	margin-bottom: 10px;
}

#ovly { 
	display: none;
	position: fixed;
	top:0px; left:0px; width:100%; height:100%; 
	text-align:center; vertical-align:middle;
	opacity: 0.4;
	background-color:#000000;
	z-index: 10000;
}

#overlay_form {
	position: absolute;
	border: 3px solid gray;
	border-radius: 5px;
	padding: 10px;
	background: #FFFFEE;
	width: 440px;
	height: auto;
	opacity: 1;
	z-index: 10001;
}
#overlay_form label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:120px;
	float:left;
	clear: left;
}
#overlay_form .small{
	color: #666666;
	display:block;
	font-size: x-small;
	font-weight: lighter;
	text-align:right;
	width:120px;
}
#overlay_form input[type=text]{
	float:left;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:300px;
	margin:2px 0 15px 10px;
}
#overlay_form p {
	background: #EAE4CE;
	width: 100%;
	height: 20px;
	padding: 5px 0 5px 2px;
	float: left;
}
