a:link
{
	text-decoration: none;
	color: #309060;
}
a:visited
{
	text-decoration: none;
	color: #309060;
}
a:hover
{
	text-decoration: overline underline;
	color: #309060;
}
h1
{
	color: #8DB8E6;
	font-size: 14pt;
}
h2
{
	color: #FF6666;
	font-size: 12pt;
}
h3
{
	color: #8DB8E6;
	font-size: 10pt;
}
h4
{
	color: #AAAAAA;
	font-size: 10pt;
}
h5
{
	color: black;
	font-size: 8pt;
}
body
{
	font-family: sans-serif;
	font-size: 8pt;
	background: url("/icons/ipgp/logo_WebObs_TC110.png") no-repeat fixed white;
}
table
{
	border-collapse: collapse;
}
td, th
{
	font-size: 8pt;
	border-width: 1px;
	border-color: #999999;
	border-style: solid;
	padding: 2px;
}
th
{
	color: #777777;
	background-color: #DDDDDD;
}
ul
{
	list-style-type: square;
}
li
{
	margin-bottom:1pt; 
	margin-top:1pt;
}
.actif a:link,
.actif a:hover,
.actif a:active,
.actif a:visited {
	color: blue !important;
}
pre {
    background: none repeat scroll 0 0 #EEEEDD;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
