table {
    border-collapse: collapse;
    /*    background: white;*/
}
td,
th {
    font-size: 8pt;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    padding: 3px;
    text-align: center;
}
th {
    color: #777777;
    background-color: #dddddd;
}
.sr1 {
    background-color: #eeff5e;
}
.sr2 {
    background-color: #ffd367;
}
.td0 {
    background-color: #eeeeee;
}
.td1 {
    background-color: #dddddd;
}
