
#wm {
	margin:0;
	padding:0;
	width: 100%;
}

	#wmlogos {
		float: left;
		width: 10%;
	}

	#wmwrapnav {
		float: left;
		margin: 0;
		padding: 0;
		width: 80%;
		font-size: 1em;
		font-family: sans-serif;
		font-style: bold;
		background-color: #201A16;
		color: #43372F;
	}

		#wmnav {
		margin: 0;
		padding: 0;
		}

	#wmflags {
		float: right;
		width: 10%;
	}

/*************************************************/

#wmflags img {
	border : 2px solid;
	margin: 1px;
}
#wmflags .actif   { border-color: #00ff00; }
#wmflags .inactif { border-color: #ffffff; }

#wmlogos a, #wmflags a {
	display: inline;
	width: auto;
}

/*************************************************/

.clear { clear: both }

.haut {
	font-variant: small-caps;
}
.haut.inactif {
	background-color:#ADD8E6;
}
.haut.actif {
	background-color:#8DB8E6;
}
.bas.inactif {
	background-color:#FFAAAA;
}
.bas.actif {
	background-color:#FF8888;
}
.externe.inactif {
	background-color:#FFEEEE;
}
.externe.actif {
	background-color:#FFCCCC;
}
.externe span {
	background-color: transparent;
	background-image: url(/icons/external.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right center;
	padding-top: 0;
	padding-right: 13px;
	padding-bottom: 0;
	padding-left: 0;
}
.actif a:link,
.actif a:hover,
.actif a:active,
.actif a:visited {
	color: blue !important;
}

/*************************************************/

#wmnav a {
	display:block;
	padding:0px 5px;
	border:1px solid #ddd;
	color:#fff;
	text-decoration:none;
	background-color:#333;
}

#wmnav a:hover { 
	background-color:#fff;
	color:#333;
}

#wmnav li {
	float:left;
	position:relative;
	list-style: none;
}

#wmnav li ul li {
	float: none;
}

#wmnav ul {
position:relative;
display:none;
/*width:12em;*/
width: auto;
/*top:1.5em;*/
}

#wmnav li ul a {
width:12em;
/*height:auto;*/
/*float:left;*/
}

/*
#wmnav ul ul {
float: left;
}
*/

/*
#wmnav li ul ul {
left:12em;
margin:0px 0 0 10px;
}
*/
/*
#wmnav li:hover ul ul, #wmnav li:hover ul ul ul, #wmnav li:hover ul ul ul ul {
display:none;
}
#wmnav li:hover ul, #wmnav li li:hover ul, #wmnav li li li:hover ul, #wmnav li li li li:hover ul {
display:block;
}
*/
