
#wm {
    margin:0;
    margin-left: -5px;
    padding:0;
    padding-top: 5px;
    width: 100%;
    background: url('/icons/bgH.png');
    position: fixed;
    top: 0px;
    outline: 0 none;
}

    #wmlogos {
        float: left;
        margin-left: 3px;
    }
    #wmlogos img {
        border-right: 1px solid white;
    }

    #ident {
        background-color: #EAE4CE;
        border: 0 solid grey;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 3px 4px 3px #555555;
        float:left;
        padding-top: 2px;     /* dd bto*/
        padding-bottom: 2px;  /* dd bto*/
        margin: 0px 3px;
        width: 99%;
    }
    #identVer { float: left; font-style: italic; margin-left: 10px;}
    #identLog { float: right; font-style: italic; margin-right: 5px;}

    #wmwrapnav {
        margin: 0;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 0px;
        font-size: 11px;
        font-family: sans-serif;
        font-weight:bold;
        font-variant: small-caps;
    }

        #wmnav {
            margin: 0;
            padding: 0;
        }

    #wmflags {
        float: right;
        width: 10%;
    }

#wmtarget {
    margin-top: 70px;
}

#wmsig {
}


#wmflags img {
    border : 2px solid;
    margin: 1px;
}
#wmflags .actif   { border-color: #00ff00; }
#wmflags .inactif { border-color: #ffffff; }

#wmlogos a, #wmflags a {
    display: inline;
    width: auto;
}



.clear { clear: both }

.haut {
    /* font-variant: small-caps; */
}
.haut.inactif {
    background-color: #EAE4CE;
}
.haut.actif {
    background-color: #89BDD3 ;
}
.bas.inactif {
    background-color:#EDCCC0 ;
}
.bas.actif {
    background-color:#EDCCC0 ;
}
.externe.inactif {
    background-color:#EDCCC0;
}
.externe.actif {
    background-color:#EDCCC0;
}
.bas.inactif.externe > a {
    background: url("/icons/externalgrey.png") no-repeat scroll 95% center #EDCCC0;
}
.externe span {
    background-color: transparent;
    background-image: url(/icons/externalgrey.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 95% center;
    padding-top: 0;
    padding-right: 13px;
    padding-bottom: 0;
    padding-left: 0;
}


.menu {
    font-family: arial,sans-serif;
    position: relative;
    z-index: 100;
    border-radius: 0px 0px 5px 5px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    margin-left: 5px;
    padding: 5px 0 0;
}

.menu li {
    float: left;
    position: relative;
    /*width: 149px;*/
    width: 129px;
    margin: 0;
}
.menu a {
    outline: none;
}
.menu a, .menu a:visited {
    color: #000000;
    display: block;
    font-weight: bold;
    padding-left: 10px;
    padding: 2px 10px;
    text-decoration: none;
}
.menu li .externe {
    background-image: url(/icons/external.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right center;
}
.menu ul ul {
    height: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    margin-left: 0px;
}
* html .menu ul ul {
    top: 31px;
}
.menu ul ul ul {
    left: 149px;
    top: -1px;
    /*width: 149px;*/
    width: 129px;
}
.menu ul ul ul.left {
    left: -149px;
}

.menu ul ul a, .menu ul ul a:visited {
    background: none no-repeat scroll 0 0 #EDCCC0 ;
    border-width: 0 1px 1px;
    color: #000000;
    height: auto;
    line-height: 1em;
    padding: 2px 0px 3px 2px;
    /*width: 147px;*/
    width: 127px;
    text-align: left;
}
* html .menu ul ul a, * html .menu ul ul a:visited {
    /*width: 128px;*/
    width: 118px;
}
.menu ul.haut a:hover {
    background-color: #89BDD3 ;
    color: #000000;
}
.menu ul .bas.inactif {
    box-shadow: 3px 3px 3px #555555;
}
.menu ul.bas a:hover {
    background-color: #D3A8A2;
    color: #282722;
}
.menu *:hover > a, .menu ul ul *:hover > a {
    background: none repeat scroll 0 0 #FCD6A7;
    color: #282722;
}
.menu ul li:hover ul, .menu ul a:hover ul {
    visibility: visible;
}
.menu ul *:hover ul ul {
    visibility: hidden;
}
.menu ul *:hover ul *:hover ul {
    visibility: visible;
}
.menu ul:last-child,
.menu li:last-child,
.menu a:last-child
    {
        border-radius: 0 0 5px 5px;
    }
.bas.inactif.externe > a:last-child, .bas.inactif.externe > ul:last-child, .bas.inactif.externe > li:last-child {
    border-radius: 0 0 0 0;
}
.menu li.haut.inactif {
    border-radius: 5px 5px 5px 5px;
}
.menu li.haut.inactif > a{
    border-radius: 5px 5px 0px 0px;
}
.menu ul.bas.inactif {
    padding-top: 0;
}

/***********************************************/

.nodeid {
    font-family: monospace;
    font-weight: bold;
    font-size: 110%;
}

.nodetbl {
    position: relative;
    background-color: #FFFFFF;
    font-size: 10px;
    font-family: sans;
    /*padding: 20px 90px 20px 20px;*/
}

.nodetbl a {
    color: #333333;
    text-decoration: none;
    font-size: 10px;
    font-family: sans;
}

.nodetbl table th {
    border: 0px;
    padding: 0px;
    background: white;
    color: #444444;
}

.nodetbl table th.skew {
    height: 100px;
    width: 40px;
    border: 0px;
    /*position: relative;*/
    vertical-align: bottom;
    background-color: white;
}

.nodetbl table th.skew > div {
    position: relative;
    top: 0px;
    left: 50px;
    height: 100%;
    transform:skew(-45deg,0deg);
    -moz-transform:skew(-45deg,0deg);
    -webkit-transform:skew(-45deg,0deg);
    overflow: hidden;
    /*
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
     */
}

.nodetbl table th.skew span {
    transform:skew(45deg,0deg) rotate(315deg);
    -moz-transform:skew(45deg,0deg) rotate(315deg);
    -webkit-transform:skew(45deg,0deg) rotate(315deg);
    position: absolute;
    bottom: 15px;
    left: 1px;
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 10px;
}

.nodetbl table td {
    width: 50px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #CCCCCC;
    font-size: 10px;
    font-weight: bold;
    padding: 0px;
}

.nodetbl table td a {
    display: block;
    width: 100%;
    text-align: center;
}

.nodetbl table th.skew.view.even > div  {
    background-color: #EBEBE0;
}
.nodetbl table th.skew.view.odd > div {
    background-color: #FFFFFF;
}
.nodetbl table th.skew.proc.even > div {
    background-color: #EAECD8;
}
.nodetbl table th.skew.proc.odd > div  {
    background-color: #DEE0CC;
}
.nodetbl table th.skew.form.even > div {
    background-color: #FFFFFF;
}
.nodetbl table th.skew.form.odd > div  {
    background-color: #EBEBE0;
}
.nodetbl table td.view.otimes {
    background-color: green;
    color: white;
    text-align: center;
}
.nodetbl table td.proc.otimes {
    background-color: red;
    color: white;
    text-align: center;
}
.nodetbl table td.form.otimes {
    background-color: orange;
    color: white;
    text-align: center;
}

.nodetbl table td.oempty.view.even {
    background-color: #EBEBE0;
    color: transparent;
}
.nodetbl table td.oempty.view.odd {
    background-color: transparent;
    color: transparent;
}

.nodetbl table td.oempty.proc.even {
    background-color: #DEE0CC;
    color: transparent;
}
.nodetbl table td.oempty.proc.odd {
    background-color:  #EAECD8;
    color: transparent;
}

.nodetbl table td.oempty.form.even {
    background-color:  transparent;
    color: transparent;
}
.nodetbl table td.oempty.form.odd {
    background-color: #EBEBE0;
    color: transparent;
}

.nodetbl table td.oorphan {
    background-color: transparent;
    color: transparent;
}

.hover {
    background-color: #E0E0E0;
}
