#wm {
    margin: 0;
    margin-left: -5px;
    padding: 0;
    padding-top: 5px;
    width: 100%;
    position: fixed;
    top: 0px;
    outline: 0 none;
}

#wm a {
    background-color: initial;
}

#wmlogos {
    float: left;
    margin-left: 3px;
}

#ident {
    background-color: #e4e0dc;
    border: 0 solid grey;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 4px 3px #555555;
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px 3px;
    width: 99%;
}
#identVer {
    float: left;
    font-style: italic;
    margin-left: 10px;
}
#identLog {
    float: right;
    font-style: italic;
    margin-right: 5px;
}

#wmwrapnav {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0px;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

#wmnav {
    margin: 0;
    padding: 0;
}

#wmflags {
    float: right;
    width: 10%;
}

#wmtarget {
    margin-top: 70px; /* minimum also default until fully loaded */
}

#wmsig {
}

#wmflags img {
    border: 2px solid;
    margin: 1px;
}
#wmflags .actif {
    border-color: #8db8e6;
}
#wmflags .inactif {
    border-color: #ffffff;
}

#wmlogos a,
#wmflags a {
    display: inline;
    width: auto;
}

.clear {
    clear: both;
}

/* DROPDOWN MENU ********************************/

ul.dropdown * {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    outline: none;
}
ul.dropdown {
    position: relative;
    margin: 0px;
}
ul.dropdown li a.externe {
    background-image: url("/icons/externalgrey.png");
    background-repeat: no-repeat;
    background-position: 87% 60%;
}
ul.dropdown li {
    font-weight: bold;
    float: left;
    zoom: 1;
    background: transparent;
}
ul.dropdown a:hover {
    color: #000;
}
ul.dropdown a:active {
    color: #edccc0;
}
ul.dropdown li a {
    display: block;
    padding: 2px 8px;
    color: #222;
}
ul.dropdown li:last-child {
    border-radius: 0px 0px 5px 5px;
}
ul.dropdown li:first-child:last-child {
    border-radius: 0px 5px 5px 5px;
}
ul.dropdown li.hover,
ul.dropdown li:hover {
    background: #89bdd3;
    color: black;
    position: relative;
    border-radius: 5px 5px 0px 0px;
}
ul.dropdown li.hover a {
    color: black;
}
ul.sub_menu {
    box-shadow: 3px 5px 3px #555555;
    border-radius: 5px;
}

ul.dropdown ul {
    width: 160px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
}
ul.dropdown ul li {
    font-weight: normal;
    background: #e4e0dc;
    color: #000;
    float: none;
}
ul.dropdown ul li:first-child:hover,
ul.dropdown ul li:first-child {
    border-radius: 0px 5px 0px 0px;
}
ul.dropdown ul li a {
    border-right: none;
    width: 100%;
    display: inline-block;
}
ul.dropdown ul li:hover {
    background: #b9d2f0;
    border-radius: 0px;
}
ul.dropdown ul li:last-child:hover {
    background: #b9d2f0;
    border-radius: 0px 0px 5px 5px;
}

ul.dropdown ul ul {
    left: 100%;
    top: 0;
}
ul.dropdown ul ul li:first-child {
    border-radius: 0px 5px 0px 0px;
}
ul.dropdown li:hover > ul {
    visibility: visible;
}

ul.dropdown li.menutitle:hover,
ul.dropdown li.menutitle {
    font-style: italic;
    background: #d4d0cc;
    padding: 2px 0;
    text-align: center;
    border-bottom: 1px solid #c4c0bc;
}
ul.dropdown li.menutitle a {
    text-align: center;
    padding: 0;
}
ul.dropdown li hr {
    border: 0;
    border-top: 1px solid #c4c0bc;
}

/* END DROPDOWN MENU ***************************/
