
.wolbOvly {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  display: none;
}

.wolbBox {
  position: absolute;
  top: 8px;
  z-index: 10000;
  font-weight: normal;
  border: 6px solid snow;
  display: none;
  background: snow;
}

.wolbNav {
  color: black;
  background: snow;
  min-height: 20px;
  text-align: center;
}

.wolbPrev, .wolbNext {
    visibility: hidden;
    cursor: pointer;
    border: 0px;
    border-radius: 4px;
    padding: 2px;
    color: transparent; /*coz divs can't be empty*/
}
.wolbPrev {
    background: url(/icons/l13.png) no-repeat center #ccc;
    min-width: 13px;
    float: left;
}
.wolbNext {
    background: url(/icons/r13.png) no-repeat center #ccc;
    min-width: 13px;
    float: right;
}
.wolbId {
    float: left;
    margin-left: 5px;
}
.wolbBox img {
    clear: float;
    background: url(/icons/wait.gif) no-repeat center;
}

area[wolbsrc] {cursor: pointer}
